@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><strong>KARDEN</strong></h1>
    <center>
        <p class="lead">Nunca pares, nunca te conformes, hasta que lo bueno sea mejor y lo mejor excelente.</p>
    </center>

    @*<center>

            <strong>Nunca pares, nunca te conformes, hasta que lo bueno sea mejor y lo mejor excelente.</strong>
        </center>//*@



    <body background="/Image/gris-claro.jpg">
    </body>


    <center>
        <a href="https://asp.net" class="btn btn-primary btn-lg">PROMOCIONES &raquo;</a>
    </center>
  
    @*<center>
            <img src="/Image/pri.jpg" width="600" height="300">
        </center>*@
    <center>
        <div>

            <img src="/Image/izquierda2.jpg" width="500" height="300" hspace="2" vspace="9" style="float: left;" />
            <img src="/Image/fondo1.jpg" width="500" height="300" hspace="2" vspace="9" style="float: center;" />
            <img src="/Image/derecha2.jpg" width="500" height="300" hspace="2" vspace="9" style="float: right;" />


        </div>
    </center>

    @*<div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>*@
